
#arena{
    position: relative;
    width: 800px;
    height: 600px;
    border: 2px solid black;
    margin: 0 auto;
    background-color: lightgray;
    overflow: hidden;
}
.player {
    width: 171px;
    height: 171px;
    position: absolute;
    background-size: cover;
}

#player1 {
    background-image: url('resources/zakuii.png');
    top: 0;
    left: 0;
    
}
#player2{
    background-image: url('resources/zakuii.png');
    top: 0;
    right: 0;
}
